---
export const prerender = true;

import MainLayout from '../layouts/MainLayout.astro';
import LogoSVG from '../components/LogoSVG.astro';
---

<MainLayout title = 'Red Arteria | Inicio'>
	<main>
		<LogoSVG />
		<h1>Bienvenidos a la Red...</h1>
		<h3>Estamos en construcción... Si!!!</h3>
	</main>
</MainLayout>

<style>
	main {
		padding: 1rem 2rem 0 1rem;
	}
</style>
