---
export const prerender = true;

import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title = 'Red Arteria | Inicio'>
	<h1>Bienvenidos a la Red...</h1>
	<h3>Estamos en construcción... Si!!!</h3>
</MainLayout>
